@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.app {
  display: flex;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  right: 1em;
  width: calc(100% - 1em);
  height: 60px;
  background: #3b3b3b;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
  border-radius: 10px;
}

.sidebar {
  width: 250px;
  background: #444;
  color: #fff;
  padding-top: 12px;
  position: fixed;
  top: calc(60px + 1rem);
  left: -250px;
  height: calc(100% - (60px + 1.5rem) );
  transition: left 0.3s ease;
  z-index: 999;
  border-radius: 10px;
}

.sidebar.open {
  left: 0.5em;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  border-bottom: 1px solid #555;
}

.sidebar-item {
  width: 100%;
  display: block;
  text-align: left;
  background: transparent;
  border: none;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  font-size: 0.95rem;
}

.main-content {
  flex: 1;
  padding: 80px 20px 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

@media (min-width: 768px){
  .main-content {
    margin-left: 250px;
  }
}