#global------------------------
node_modules/
**/node_modules/

npm-debug.log*
yarn-error.log
pnpm-debug.log

#build---------------------------
dist/
build/


campus-connect-frontend/dist/

campus-connect-backend/dist/
campus-connect-backend/build/

#env-----------------------------
.env
.env.local
.env.*.local


campus-connect-frontend/.env
campus-connect-frontend/.env.local

campus-connect-backend/.env
campus-connect-backend/.env.local

#logs------------------------------
logs
*.log
log.txt

campus-connect-backend/logs/

#vscode--------------------------------
.vscode/
!.vscode/settings.json
!.vscode/extensions.json


.idea/

#cache--------------------------------
*.cache
.vite/
frontend/.vite/
frontend/.cache/

#vite
.vite/